<% require 'pry'%>
<h1>Trip Itineraries</h1>

<% @trips.each do |trip| %>

<p><%= link_to trip.title, trip_path(trip) %></p> 

<% end %>

<br />
<br />

<%= link_to "CREATE NEW ROAD TRIP ITINERARY", new_trip_path, {:style=>'color:#red;'}%>

<br />
<br />