<% require 'pry' %>
<h1>Hello, <%= @user.name %>.</h1>

<h2>Here's where you've eaten: </h2>

<% @trips.each do |trip| %>
    <% trip.eatery_trips.visited.to_a.each do |eatery| %>
      <% id = eatery.eatery_id %>
      <% e = Eatery.find_by(id: id) %>
      <ul>
        <li><%= e.name %></li>
        <% if eatery.review.present? %>
          <p>Your review: <%= eatery.review %></p>
        <% end %>
      </ul>
    <% end %>
<% end %>

<%= link_to "Back to My Road Trip Itineraries", user_trips_path(@user) %> 
