<% require 'pry' %>

<h1><%= @user.name %></h1>

<h2>Here are your dining accomplishments. </h2>

<% @trips.each do |trip| %>

    <% trip.eatery_trips.visited.to_a.each do |eatery| %>
     <% id = eatery.eatery_id %>
     <% e = Eatery.find_by(id: id) %>
     <p><%= e.name %></p>
    <% end %>

<% end %>

<%= link_to "My Road Trip Itineraries", user_trips_path(@user) %> 
