<% require 'pry' %>

<h1>Hello, <%= @user.name %>.</h1>

<h2>Here is where you've eaten: </h2>

<% @trips.each do |trip| %>

    <% trip.eatery_trips.visited.to_a.each do |eatery| %>
     <% id = eatery.eatery_id %>
     <% e = Eatery.find_by(id: id) %>
     <p><%= e.name %> 
     
     <% if eatery.review.present? %>
       <p>Here's what you thought: <%= eatery.review %></p>
     <% end %>

    <% end %>

<% end %>

<%= link_to "My Road Trip Itineraries", user_trips_path(@user) %> 
