ABOUT

<p>How do you truly get to know a place you’re visiting? One of the best ways is to show up hungry at a local favorite eatery—whether it’s a crab shack by the water or brunch with a line out of the door—and take your time enjoying every morsel of the specialty dish. </p>

<p>Welcome to A Day Away, where we pay tribute to eating on the road—an all-American pastime. If you believe the *best* part road tripping is the eating and drinking, you’re in the right place. </p>

<p>Every road warrior knows the first step of a successful food-centric adventure is planning, amirite? A Day Away gives you a place to record every mom-and-pop doughnut shop, must-visit woodfire pizza place, and cozy cafe you find during pre-road research sessions.</p>

<p>We trust you can build the ultimate food tour on wheels. Bon appetite and safe driving! </p>
