<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>



<center><strong><footer style="font-size:80%;">
<% if @user %>
Currently logged in as <%= @user.name %>
<% end %>
</footer></strong</center>